$primary-color-1: rgba(70, 18, 100, 0.6);
$primary-color-2: rgba(23, 109, 109, 0.6);

$secondary-color-1: rgba(70, 18, 100, 1);
$secondary-color-2: rgba(23, 109, 109, 1);

$background-color-1: rgba(44, 42, 148, 0.4);
$background-color-2: rgba(44, 42, 148, 0.1);


$gradient-vlight: linear-gradient(to right bottom, rgba(119, 125, 133, 0.1), rgba(105, 94, 112, 0.1));
$gradient-primary: linear-gradient(to right, rgba(111, 159, 213, 0.2), rgba(124, 40, 180, 0.2));
$gradient-tertiary: linear-gradient(to right bottom, rgba(111, 159, 213, 0.5), rgba(124, 40, 180, 0.5));
$gradient-secondary: linear-gradient(to right bottom, rgba(111, 159, 213, 0.7), rgba(124, 40, 180, 0.7));

$font-color-1: rgb(26, 26, 34);

$grid-width: 135rem;
$gutter-vertical: 10rem;
$gutter-horizontal: 5rem;

