:root{
    --background-color-1: rgba(44, 42, 148, 0.4);

    --button-color-1: rgba(69, 110, 187, 0.8);
    --font-color-1: #030a25;
}


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{
    font-size: 62.5%;

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(phone){
        font-size: 43.75%;
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
    
}

body{
    box-sizing: border-box;
    background-color: var(--background-color-1);
}


.container{
    display: grid;
    grid-template-rows: 90vh min-content min-content min-content min-content min-content min-content;
    row-gap: 3rem;
    grid-template-columns: [pad-l-start full-start] minmax(6rem, 1fr) [pad-l-end center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end pad-r-start] minmax(6rem, 1fr) [pad-r-end full-end];

}
