.header{
    grid-column: full-start / full-end;
    grid-row: 1 / span 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
    display: flex;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;


    @include respond(small-phone){
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    &__arrow{
        position: absolute;
        height: 5rem;
        width: 5rem;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%) rotate(90deg);
        cursor: pointer;
    }
}


.button__container{
    display: flex;
    justify-content: center;
}